<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>光海教育</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/index1.css" />
	</head>
	<body id="app">
		<div class="page">
			<header class="mui-bar mui-bar-nav">
				<a href="http://www.weixiaotong.com/" target="self">
					<div class="logo"></div>
				</a>
				<div class="Tagline"></div>
				<div class="TEL"></div>
			</header>
			<nav class="menu">
				<ul>
					<li v-for="(mus,index) in listmu" :key="index">
						<a href="">{{mus}}</a>
					</li>
				</ul>
				<div class="img">
					<img v-for="(imgs,index) in listimg" :src="imgs" :key="index" v-show="index===mark">
				</div>
				<div class="bt">
					<img @click="sub" class="left" src="img/左.png">
					<img @click="add" class="right" src="img/右.png">
				</div>
			</nav>
			<div class="Bodytext">
				<div class="text">
					<h1>
						<center>公司简介</center>
					</h1>
					<p>
						光海科技是一家集教育信息化整体解决方案、产品研发、技术服务、教学研究和教育服务与一体的国家高新技术企业，是中国在线教育百强品牌，同时也是国内最领先的教育SAAS服务提供商，国内最大的基于微信的智慧校园服务提供商。目前，公司已获得软件著作权36项，获得软件企业认定，是近10所高校的大学生实习基地。
						<p>
							公司旗下精心打造的“微校通”、“微幼通”、“终身教育学习平台”等系列明星产品，为全国中小学、幼儿园、社区学院、教育行政单位等各类教育机构提供教育信息化支撑。光海科技依托丰富的产品功能和优秀的用户体验，迅速打开并占领市场，现已成功覆盖全国30余个省、直辖市，服务学校超过12000家，全国近千万家长学生受益。公司产品荣登新华社、人民日报、中国新闻网、中国教育报、浙江日报、杭州日报、钱江晚报、浙江省政府网、腾讯网、网易、搜狐等多家知名媒体报道，荣获“第五届全国教育改革创新特别奖”、“中国家庭教育知识传播激励计划家校合作优秀案例”、“中国家庭教育知识传播激励计划家校合作年度十佳案例”。
						</p>
						<p>
							目前，公司已同中科院教育集团、阿里巴巴、腾讯、网易、中国移动、中国电信、海康、大华等知名机构和企业开展战略合作，并与部分省市教育厅、教育局等进行深入合作，共建区域教育信息化生态体系。
						</p>
						<p>
							我们始终将成为最优秀的教育信息化服务提供商作为公司愿景，始终将客户放在第一位，始终将提供一流产品和一流服务作为公司的核心价值观文化。
						</p>
				</div>
				<div class="videos">
					<div class="video">
						<video v-for="(dvs,index) in listdv" :src="dvs" :key="index" controls="controls"></video>
						<h2 v-for="(texts,index) in listtext">
							{{texts}}
						</h2>
					</div>
				</div>
				<div class="Address">
						<a href="#app">
							<div id="">
								
							</div>
						</a>
				</div>
			</div>
			
	</body>
	     
	
	<script type="text/javascript">
		let mu = new Vue({
			el: '.menu',
			data: {
				mark: 0,
				time: '',
				listmu: [
					'首 页',
					'公司简介',
					'新闻动态',
					'校园风采',
					'公司资料',
					'视频资料',
				],
				listimg: [
					'./img/0.jpg',
					'./img/1.jpg',
					'./img/2.jpg',
					'./img/3.jpg',
					'./img/4.jpg',
					'./img/5.jpg',
					'./img/6.jpg',
					'./img/7.jpg',
					'./img/8.jpg',
				],
			},
			methods: {
				add: function() {
					this.mark++;
					if (this.mark >= 9) {
						this.mark = 0;
					}
				},
				sub: function() {
					this.mark--;
					if (this.mark <= 0) {
						this.mark = 0;
					}
				},
				play() {
					this.time = setInterval(() => {
						this.mark++;
						if (this.mark == 9) {
							this.mark = 0;
						}
					}, 10000);
				},
				change(i) {
					this.mark = i;
				},
				stop() {
					clearInterval(this.time);
				},
				move() {
					this.play();
				}
			},
			created() {
				this.play();
			}
		});
	</script>
	<script type="text/javascript">
		let dv = new Vue({
			el: '.videos',
			data: {
				listdv: [

					'https://zy-input.weijiangshi.cn/online/video/1544076342_2018.8.20%E5%BE%AE%E6%A0%A1%E9%80%9A%E5%AE%A3%E4%BC%A0%E7%89%87%EF%BC%88%E4%B8%AD%E5%B0%8F%E5%AD%A6%EF%BC%89.mp4',
					'https://zy-input.weijiangshi.cn/online/video/346358321_2018.9.6%E5%B9%BC%E5%84%BF%E5%9B%AD%E5%AE%A3%E4%BC%A0%E7%89%87.mp4',
					'https://static.weixiaotong.com.cn/2babb456c7965c91775f5c5d85c233a691390a75.mp4',
					'https://static.weixiaotong.com.cn/27bd9f697091c522c2e3f3e5294bee1464b4ca43.mp4',
					'https://static.weixiaotong.com.cn/8109c3e1a242239649426a02cc8b559de11efec0.mp4',
					'https://static.weixiaotong.com.cn/fc300778b668146b6e5b9a4b8ecd0943c03322b2.mp4',
					'https://static.weixiaotong.com.cn/e7fdb5861196953c978ee7290683300dd7f2d17b.mp4',
					'https://static.weixiaotong.com.cn/5eb7375ded3f0db116baceb1bcb1bbc1ea0ace3c.mp4',
					'https://static.weixiaotong.com.cn/6f2fcd8350f5ac755139c9b960d51278f5e63ab4.mp4',
					'https://static.weixiaotong.com.cn/4df45b6c1b50a1d7e0ec136efb104c7daecd04b1.mp4',
				],
				listtext: [

					'光海微校通',
					'光海微幼通',
					'走进智慧校园',
					'光海教育向儋州市捐赠506.55万元疫情防控平台及设备',
					'测温闸机',
					'智慧班牌',
					'宿舍班牌',
					'访客系统',
					'智慧校车',
					'教务大屏',
				],
			}
		});
	</script>


</html>
