<!DOCTYPE html>
<html lang="zh_CH">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="icon" href="img/标志.png">
		<link rel="stylesheet" href="css/index.css">
		<script src="JS/vue.js"></script>
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
		</style>

	</head>
	<body>
		<div>
			<header class="header">
				<div class="h-img">
					<img src="img/标题.png">
				</div>
			</header>
			<nav class="nav">
				<div class="l-nav-f">
					<ul class="left_nav">
						<li v-for="(l_nav,index) in l_listnav" :key="index">
							<a :href="l_nav.href">{{l_nav.name}}</a>
						</li>
					</ul>
					<ul class="right_nav">
						<li v-for="(r_nav,index) in r_listnav" :key="index" @mouseover="showup" @mouseout="nodisplay">
							<a href="">{{r_nav.name}}</a>
							<img :src="r_nav.src">
							<ul class="DDW" :style="shows">
								<li v-for="(r,index) in r_nav.D_name">
									<a href="">{{r}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<div class="input">
				<a href="https://www.weixiaotong.com.cn/" target="_blank">
					<img class="gg" src="img/logo.png">
				</a>
				<input type="text" name="" id="" value="" placeholder="请输入查询的信息" />
				<button type="button">搜索</button>
				<ul class="Date" v-cloak v-for="(day,index) in days" :key="index">
					<li>{{day.date}}</li>
					<li>{{day.time}}</li>
					<li>{{day.weeks}}</li>
				</ul>
			</div>
			<div class="title1">
				<div class="l_title">
					<img src="./img/三横线.png" alt="">
					<a href="javascript:;">学习科目</a>
					<img src="img/学习.png">
				</div>
				<div class="r_title">
					<ul>
						<li v-for="(rtitle,index) in titlelist" :key="index">
							<a :href="rtitle.href" @mousemove="mover(index)"
								:style="num==index? 'color: #FF0036;border-bottom: #333 0.2rem solid;':'' ">{{rtitle.name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<hr>
			<nav class="nav1">
				<ul>
					<li v-for="(nav1,index) in listnav1" :key="index" @mouseover="rblock(index)"
						:style="num1===index?'background-color: #FFFFFF;':'background-color: #333333;'">
						<img class="nva1-icon" :src="nav1.icons" alt="">
						<a href="javascript:;"
							:style="num1===index?'color: #FF0036;':'color: #FFFFFF;'">{{nav1.name}}</a>
						<img class="nva1-icon" :src="nav1.src">
					</li>
				</ul>
				<div class="Side-nav" v-for="(Side,index) in Sidelist"
					:style="num1===index?'display:block':'display:none'">
					<ul class="l_Side-nav">
						<li v-for="(lSide,index1) in Side.lname" @mousemove="mover(index1)">
							<a href="javascript:"
								:style="num2==index1? 'color: #FF0036;border-bottom: #333 0.2rem solid;':'' ">
								{{lSide}}
							</a>
						</li>
					</ul>
					<ul class="r_Side-nav" v-for="(RSide,index) in Side.Rname"
						:style="num2===index?'display:block':'display:none'">
						<li v-for="(rnames,index) in RSide.rname">
							<a href="">
								{{rnames}}
							</a>
						</li>
					</ul>
				</div>
				<div class="lbt">
					<img v-for="(lbt,index) in listlbt" :src="lbt" :key="index" @mouseover="stop" @mouseout="move"
						@mousemove="move1" v-show="index===mark" alt="">
				</div>
			</nav>
			<div class="k-videos">
				<div class="bt">
					<p>科学知识</p>
					<a href="">更多视频</a>
				</div>
				<hr>
				<div class="vds">
				   <ul>
						<li v-for="(kvd,index) in kvideolist">
							<video  :src="kvd.list" :key="index" controls="controls"></video>
							<p>{{kvd.text}}</p>
						</li>
				   </ul>
				</div>	
			</div>
			<div class="x-videos">
				<div class="bt">
					<p>小学视频</p>
					<a href="">更多视频</a>
				</div>
				<hr>
				<div class="vds">
				   <ul>
						<li v-for="(xvd,index) in xvideolist">
							<video  :src="xvd.list" :key="index" controls="controls"></video>
							<p>{{xvd.text}}</p>
						</li>
				   </ul>
				</div>	
			</div>
			<div class="c-videos">
				<div class="bt">
					<p>初中视频</p>
					<a href="">更多视频</a>
				</div>
				<hr>
				<div class="vds">
				   <ul>
						<li v-for="(cvd,index) in cvideolist">
							<video  :src="cvd.list" :key="index" controls="controls"></video>
							<p>{{cvd.text}}</p>
						</li>
				   </ul>
				</div>	
			</div>
			<div class="g-videos">
				<div class="bt">
					<p>高中视频</p>
					<a href="">更多视频</a>
				</div>
				<hr>
				<div class="vds">
				   <ul>
						<li v-for="(gvd,index) in gvideolist">
							<video  :src="gvd.list" :key="index" controls="controls"></video>
							<p>{{gvd.text}}</p>
						</li>
				   </ul>
				</div>	
			</div>
		</div>
	</body>
	<script type="text/javascript">
		let leftnav = new Vue({
			el: '.nav',
			data: {
				shows: '',
				l_listnav: [{
						'name': '欢迎您的到来!',
						'href': 'index1.html'
					},
					{
						'name': '请登录',
						'href': 'Logln.html'
					},
					{
						'name': '免费注册',
						'href': ''
					},
				],
				r_listnav: [{
						'name': '我的课程',
						'src': 'img/下箭头.png',
						D_name: []
					},
					{
						'name': '购物车',
						'src': 'img/下箭头.png',
						D_name: []
					},
					{
						'name': '收藏夹',
					}
				],
			},
			methods: {
				showup: function() {
					this.shows = 'display:block';
				},
				nodisplay: function() {
					this.shows = 'display:none';
				}
			},
		});
		let title1 = new Vue({
			el: '.title1',
			data: {
				active: '',
				num: -1,
				titlelist: [{
						'name': 'HBuilderx',
						'href': 'https://www.dcloud.io/',
					},
					{
						'name': 'VsCode',
						'href': 'https://code.visualstudio.com/',
					},
					{
						'name': 'WebStorm',
						'href': 'https://www.jetbrains.com/zh-cn/webstorm/',
					},
					{
						'name': 'Git',
						'href': 'https://git-scm.com/',
					},
					{
						'name': 'Node',
						'href': 'http://nodejs.cn/',
					},
					{
						'name': 'Typora',
						'href': 'https://typora.io/',
					},
					{
						'name': 'PicGo',
						'href': 'http://soft4.51xiazai.cn/pcsoftware/txtx/558621.html',
					},
				],
			},
			methods: {
				mover(index) {
					this.num = index;
				}
			}
		});
		let nav1 = new Vue({
			el: '.nav1',
			data: {
				mark: 0,
				time: '',
				num1: -1,
				num2: -1,
				x: 0,
				y: 0,
				isshow: '',
				listnav1: [{
						'icons': 'img/一.png',
						'name': '科学知识',
						'src': 'img/下箭头.png',
					},
					{
						'icons': 'img/二.png',
						'name': '小学课程',
						'src': 'img/下箭头.png',
					},
					{
						'icons': 'img/三.png',
						'name': '中学课程',
						'src': 'img/下箭头.png',
					},
					{
						'icons': 'img/四.png',
						'name': '高中课程',
						'src': 'img/下箭头.png',
					},
					{
						'icons': 'img/五.png',
						'name': '计算机课程',
						'src': 'img/下箭头.png',
					},
					{
						'icons': 'img/六.png',
						'name': '知识典故',
						'src': 'img/下箭头.png',
					},
					{
						'icons': 'img/七.png',
						'name': '精品课堂',
						'src': 'img/下箭头.png',
					},
				],
				listlbt: [
					'img/000.jpg',
					'img/111.jpg',
					'img/222.jpg',
					'img/333.jpg',
				],
				Sidelist: [{
						lname: ['太空探索', '生物观园', '科学历史', '地球故事', '生命科学',],
						Rname: [{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
				
						],
					},
					{
						lname: ['一年级', '二年级', '三年级', '四年级', '五年级', '六年级', ],
						Rname: [{
								'rname': ['语文(上)','语文(下)','数学(上)', '数学(下)' ],
							},
							{
								'rname': ['语文(上)','语文(下)','数学(上)', '数学(下)' ],
							},
							{
								'rname': ['语文(上)','语文(下)','数学(上)', '数学(下)' ,'英语(上)','英语(下)'],
							},
							{
								'rname': ['语文(上)','语文(下)','数学(上)', '数学(下)' ,'英语(上)','英语(下)'],
							},
							{
								'rname': ['语文(上)','语文(下)','数学(上)', '数学(下)' ,'英语(上)','英语(下)'],
							},
							{
								'rname': ['语文(上)','语文(下)','数学(上)', '数学(下)' ,'英语(上)','英语(下)'],
							},
						],
					},
					{
						lname: ['七年级', '八年级', '九年级', ],
						Rname: [{
								'rname': ['语文(上)','语文(下)','数学(上)','数学(下)','英语(上)','英语(下)','生物(上)','生物(下)','政治(上)','政治(下)','历史(上)','历史(下)','地理(上)','地理(下)'],
							},
							{
								'rname': ['语文(上)','语文(下)','数学(上)','数学(下)','英语(上)','英语(下)','物理(上)','物理(下)','生物(上)','生物(下)','政治(上)','政治(下)','历史(上)','历史(下)','地理(上)','地理(下)'],
							},
							{
								'rname': ['语文(上)','语文(下)','数学(上)','数学(下)','英语(上)','英语(下)','物理(上)','物理(下)','化学(上)','化学(下)','生物(上)','生物(下)','政治(上)','政治(下)','历史(上)','历史(下)','地理(上)','地理(下)'],
							},
						],
					},
					{
						lname: ['高一', '高二', '高三', ],
						Rname: [{
								'rname': ['数学', '语文', '英语'],
							},
							{
								'rname': ['1数学', '语文', '英语'],
							},
							{
								'rname': ['2数学', '语文', '英语'],
							},
						],
					},
					{
						lname: ['计算机基础','Excle', 'Word', 'ppt', 'Ps', 'Pr', 'Html', 'Css', 'Js','C4D'],
						Rname: [{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
							{
								'rname': [''],
							},
						],
					},
					{
						lname: ['一年级', '二年级', '三年级', '四年级', '五年级', '六年级', '七年级', '八年级', '九年级', '高一', '高二',
							'高三', ],
						Rname: [{
								'rname': ['数学', '语文', '英语'],
							},
							{
								'rname': ['1数学', '语文', '英语'],
							},
							{
								'rname': ['2数学', '语文', '英语'],
							},
							{
								'rname': ['3数学', '语文', '英语'],
							},
							{
								'rname': ['4数学', '语文', '英语'],
							},
							{
								'rname': ['5数学', '语文', '英语'],
							},
							{
								'rname': ['6数学', '语文', '英语'],
							},
							{
								'rname': ['7数学', '语文', '英语'],
							},
							{
								'rname': ['8数学', '语文', '英语'],
							},
							{
								'rname': ['9数学', '语文', '英语'],
							},
							{
								'rname': ['10数学', '语文', '英语'],
							},
							{
								'rname': ['11数学', '语文', '英语'],
							},
						],
					},
					{
						lname: ['一年级', '二年级', '三年级', '四年级', '五年级', '六年级', '七年级', '八年级', '九年级', '高一', '高二',
							'高三', ],
						Rname: [{
								'rname': ['数学', '语文', '英语'],
							},
							{
								'rname': ['1数学', '语文', '英语'],
							},
							{
								'rname': ['2数学', '语文', '英语'],
							},
							{
								'rname': ['3数学', '语文', '英语'],
							},
							{
								'rname': ['4数学', '语文', '英语'],
							},
							{
								'rname': ['5数学', '语文', '英语'],
							},
							{
								'rname': ['6数学', '语文', '英语'],
							},
							{
								'rname': ['7数学', '语文', '英语'],
							},
							{
								'rname': ['8数学', '语文', '英语'],
							},
							{
								'rname': ['9数学', '语文', '英语'],
							},
							{
								'rname': ['10数学', '语文', '英语'],
							},
							{
								'rname': ['11数学', '语文', '英语'],
							},
						],
					},
				],
			},
			methods: {
				play() {
					this.mark++;
					if (this.mark == 4) {
						this.mark = 0;
					}
				},
				stop() {
					clearInterval(this.time);
				},
				move() {
					this.time = setInterval(this.play, 3000);
				},
				rblock(index) {
					this.num1 = index;
				},
				mover(index) {
					this.num2 = index;
				},
				move1(e, index) {
					this.x = e.clientX;
					this.y = e.clientY;
					if (this.x > 900 || this.y > 460) {
						this.num1 = -1;
					} else {
						this.num1 = index;
					}
				}
			},
			mounted() {
				this.time = setInterval(this.play, 3000);
			},
		});
		let day = new Vue({
			el: '.input',
			data: {
				time: '',
				days: [{
					date: '',
					time: '',
					weeks: '',
				}],
			},
			methods: {
				nyr() {
					dt = new Date();
					var y = dt.getFullYear();
					var m = dt.getMonth() <= 9 ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1);
					var d = dt.getDate() <= 9 ? '0' + dt.getDate() : dt.getDate();
					var hh = dt.getHours() <= 9 ? '0' + dt.getHours() : dt.getHours();
					var mm = dt.getMinutes() <= 9 ? '0' + dt.getMinutes() : dt.getMinutes();
					var ss = dt.getSeconds() <= 9 ? '0' + dt.getSeconds() : dt.getSeconds();
					var wk = '星期' + '日一二三四五六'.charAt(dt.getDay());
					this.days[0].date = y + '年' + m + '月' + d + '日';
					this.days[0].time = hh + '时' + mm + '分' + ss + '秒';
					this.days[0].weeks = wk;
				},
			},
			mounted() {
				setInterval(this.nyr, 1000);
			}
		});
		let kvideo = new Vue({
			el: '.k-videos',
			data: {
				kvideolist: [
					  {
							'list':'https://zy-input.weijiangshi.cn/online/video/1544076342_2018.8.20%E5%BE%AE%E6%A0%A1%E9%80%9A%E5%AE%A3%E4%BC%A0%E7%89%87%EF%BC%88%E4%B8%AD%E5%B0%8F%E5%AD%A6%EF%BC%89.mp4',
							'page':'img/一年级语文上.jpg',
							'text':'光海微校通',
						},
						{
							'list':	'https://zy-input.weijiangshi.cn/online/video/346358321_2018.9.6%E5%B9%BC%E5%84%BF%E5%9B%AD%E5%AE%A3%E4%BC%A0%E7%89%87.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'光海微幼通',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/2babb456c7965c91775f5c5d85c233a691390a75.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'走进智慧校园',
						},
					],
			 },
		});
		let xvideo = new Vue({
			el: '.x-videos',
			data: {
				xvideolist: [
					  {
							'list':'https://static.weixiaotong.com.cn/0d7e72ceb0336a7659358fbfd5db6997c4298c2d.mp4',
							'page':'img/一年级语文上.jpg',
							'text':'部编版小学一年级上册《a o e》第一课时',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/70c3a7c9aedf1656e0cf96c270de8451d3adaab6.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'一年级上册数学《0的认识》',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/5c0e0242ef7fc20025dc668fc654cd53831ad417.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'部编版小学一年级上册《a o e》第二课时',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/a27647a8fb521920edf64d031b5d8b722cbf231a.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'一年级上册数学《1至5的认识》',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/09f64126c870e2ed0c7b73c18f981f8fd335413f.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'六年级上册语文《1至4单元整理复习》',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/a27647a8fb521920edf64d031b5d8b722cbf231a.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'六年级上册数学《百分数的整理和复习》',
						},
					],
			 },
		});
		let cvideo = new Vue({
			el: '.c-videos',
			data: {
				cvideolist: [
						{
							'list':	'https://static.weixiaotong.com.cn/684e08f8f96c3c7be3a838a9bed05cb529e9485f.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'春<一>',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/d1fd43167514c90d66e4e47ce39c8e6bc7bd8107.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'春<>',
						},
						{
							'list':'https://static.weixiaotong.com.cn/fde544dcfcedc2eb17b6ec76ed602e75c141e343.mp4',
							'page':'img/一年级语文上.jpg',
							'text':'正数与负数<一>',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/39e79a8cbe91d9f3c23e806edb8c68070f9ef0aa.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'正数与负数<二>',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/77ad67027f7e5569f6b2ab03ed07196d30b3b13b.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'小升初英语如何学习',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/19413b28ae1ac34cf9fcc17d7ad17331b6978108.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'字母A-H的正确书写与发音',
						},
						
					],
			 },
		});
		let gvideo = new Vue({
			el: '.g-videos',
			data: {
				gvideolist: [
					   {
					   	'list':	'https://static.weixiaotong.com.cn/2a55c42c61c99e81f7fd5f294b81e15c1595cd7b.mp4',
					   	'page':	'img/一年级数学上.jpg',
					   	'text':'沁园春<一>',
					   },
					   {
					   	'list':	'https://static.weixiaotong.com.cn/1c3bb1d578de335d270b4df534d21b083b699852.mp4',
					   	'page':	'img/一年级数学上.jpg',
					   	'text':'沁园春<二>',
					   },
					   {
							'list':'https://static.weixiaotong.com.cn/7e1234cbc694b86894e025089df253fefb99412a.mp4',
							'page':'img/一年级语文上.jpg',
							'text':'集合的概念',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/4661d0a029c024ee6eafd89d1ec24b17f7399050.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'集合间的基本关系',
						},
					
						{
							'list':	'https://static.weixiaotong.com.cn/c5461029f49f8b9d94b626ba3beb7045ce1ab0d3.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'英语<一>',
						},
						{
							'list':	'https://static.weixiaotong.com.cn/7e1234cbc694b86894e025089df253fefb99412a.mp4',
							'page':	'img/一年级数学上.jpg',
							'text':'英语<二>',
						},
					],
			 },
		});
		
	</script>

</html>
